* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* COLOR ROOT */

  --color-dark-blue5: #091b6f;
  --color-dark-blue4: #0d28a6;
  --color-dark-blue3: #5e70c4;
  --color-dark-blue2: #aeb7e1;
  --color-dark-blue1: #cfd4ed;

  --color-lime-green5: #3d7b3f;
  --color-lime-green4: #5cb85f;
  --color-lime-green3: #92d094;
  --color-lime-green2: #c9e7ca;
  --color-lime-green1: #def1df;

  --color-danger: #fa2c5a;
  --color-warning: #f9cc00;
  --color-success: #73ca5c;

  --color-neutral5: #151515;
  --color-neutral4: #3c3c3c;
  --color-neutral3: #8a8a8a;
  --color-neutral2: #d0d0d0;
  --color-neutral1: #ffffff;

  --shadow-low: 0px 0px 4px rgba(0, 0, 0, 0.15);
  --shadow-high: 0px 0px 10px rgba(0, 0, 0, 0.15);

  /* BREAKPOINTS */
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  /* TRANSITION ANIMATION */
  --transition: all 400ms ease;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background-color: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  /* 1rem = 16px */
  padding: 4rem 0;
}

section h2 {
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn-1 {
  display: inline-block;
  background: var(--color-lime-green4);
  color: var(--color-neutral1);
  padding: 0.5rem 0.8rem;
  border: 1px solid transparent;
  font-weight: 700;
  transform: var(--transition);
  border-radius: 2px;
}

.btn-1:hover {
  background: transparent;
  color: var(--color-lime-green4);
  border-color: var(--color-lime-green4);
}

.btn-2 {
  display: inline-block;
  background: var(--color-dark-blue5);
  color: var(--color-neutral1);
  padding: 0.5rem 0.8rem;
  border: 1px solid transparent;
  font-weight: 700;
  transform: var(--transition);
  border-radius: 2px;
}

.btn-2:hover {
  background: transparent;
  color: var(--color-dark-blue5);
  border-color: var(--color-dark-blue5);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

.logo {
  display: inline-block;
  width: 100px;
  height: 34px;
  background: var(--color-dark-blue4);
}

/* ======== Navbar ======== */
nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

/* change navbar styles on scroll using javascript */
.window-scroll {
  background: var(--color-neutral1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu a {
  font-size: 0.9rem;
  transform: var(--transition);
}

.nav__menu a:hover {
  color: var(--color-lime-green4);
}

/* ====== HEADER ====== */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__left p {
  margin: 1rem 0 2.4rem;
}

.header__right-image {
  position: absolute;
  bottom: 10%;
}

/* ===== SERVICE ===== */
service {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.service__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.service__left {
  margin-left: 5rem;
}

.service__right {
  margin-right: 4rem;
}

.service__right p {
  margin-bottom: 2rem;
}

.service__list {
  line-height: 2rem;
}

.service__list i {
  margin-right: 1rem;
  color: var(--color-dark-blue4);
  width: 1.5rem;
  height: 1.5rem;
  background: var(--color-dark-blue1);
  border-radius: 50%;
  padding: 2px;
}

/* ===== WHY-US ===== */
.why-us p {
  margin-bottom: 2rem;
}

.why-us__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.why-us__card {
  padding: 1.3rem;
  border-radius: 8px;
  width: 268px;
  height: 196px;
  box-shadow: var(--shadow-low);
}

.why-us__icon {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.why-us__card h3 {
  margin-bottom: 1rem;
}

.why-us__card i {
  color: var(--color-neutral1);
  border-radius: 50%;
  padding: 4px;
}

.why-us__card:nth-child(1) i {
  background: var(--color-warning);
}

.why-us__card:nth-child(2) i {
  background: var(--color-danger);
}
.why-us__card:nth-child(3) i {
  background: var(--color-dark-blue4);
}
.why-us__card:nth-child(4) i {
  background: var(--color-success);
}
