* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* COLOR ROOT */

  --color-dark-blue5: #091b6f;
  --color-dark-blue4: #0d28a6;
  --color-dark-blue3: #5e70c4;
  --color-dark-blue2: #aeb7e1;
  --color-dark-blue1: #cfd4ed;

  --color-lime-green5: #3d7b3f;
  --color-lime-green4: #5cb85f;
  --color-lime-green3: #92d094;
  --color-lime-green2: #c9e7ca;
  --color-lime-green1: #def1df;

  --color-danger: #fa2c5a;
  --color-warning: #f9cc00;
  --color-success: #73ca5c;

  --color-neutral5: #151515;
  --color-neutral4: #3c3c3c;
  --color-neutral3: #8a8a8a;
  --color-neutral2: #d0d0d0;
  --color-neutral1: #ffffff;

  --shadow-low: 0px 0px 4px rgba(0, 0, 0, 0.15);
  --shadow-high: 0px 0px 10px rgba(0, 0, 0, 0.15);

  /* BREAKPOINTS */
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  /* TRANSITION ANIMATION */
  --transition: all 400ms ease;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background-color: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  /* 1rem = 16px */
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}
